<% include partials/header %>

<main>
  <section>
    <div class="container">
      <div class="login-box">
        <form action="/verifyEmail/forgot" class="form" method="POST">
          <label for="email">Verify your email</label>
          <input
            type="email"
            required
            id="email"
            name="email"
            class="form-control"
            placeholder="enter your email"
          />
          <button type="submit">veryfy</button>
        </form>
      </div>
    </div>
  </section>
</main>

<% include partials/footer %>
