/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* GENERAL STYLE */

header {
  border: 1px solid black;
  padding: 1rem;
  background-color: rgb(71, 71, 71);
  color: white;
}
header a {
  color: white;
}
body {
  background-color: rgb(245, 245, 245);
  font-family: "Mukta Malar", sans-serif;
}
.center {
  text-align: center;
}
.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.item-center {
  align-items: center;
}
a {
  text-decoration: none;
  font-weight: 600;
}
.navbar li a {
  margin-left: 1rem;
  color: white;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
.red {
  color: red;
  border: 1px solid red;
}
.detail-page {
  width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}
.btn-delete {
  padding: 1rem;
}
.btn-delete a {
  padding: 0.3rem 0.8rem;
  background-color: rgb(121, 87, 44);
  border-radius: 10px;
  color: white;
  margin-right: 1rem;
}
img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 1rem;
}
h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 2.5rem;
}
.comment {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.comment input {
  margin-bottom: 1rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

.col-1 {
  width: 25%;
  border: 1px solid #d9d9d9;
  background-color: white;
}
.col-2 {
  width: 74%;
  border: 1px solid #d9d9d9;
  background-color: white;
}
h5 {
  font-size: 1.5rem;
  margin: 1rem 0;
}
h2 {
  font-size: 1.1rem;
  text-align: center;
  margin: 1rem;
  color: rgb(200, 63, 69);
  font-weight: 500;
}
h2 span {
  color: black;
}
h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: green;
}
.start-btn a {
  padding: 0.3rem 0.8rem;
  background-color: rgb(121, 87, 44);
  border-radius: 10px;
  color: white;
}

.btn {
  box-sizing: border-box;
  display: block;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  background: #000;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: white;
}

.edit-btn {
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  font-weight: 600;
  color: black;
  margin-top: 1rem;
  background-color: burlywood;
  border: none;
}
.form {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
}
.filter {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1rem;
}
.filter input {
  margin-bottom: 1rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}
hr {
  width: 500px;
}
.form input {
  margin-bottom: 1rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}
.reset {
  text-align: center;
  margin: 1rem;
}
.reset a {
  padding: 0.3rem 0.8rem;
  background-color: rgb(121, 87, 44);
  border-radius: 10px;
  color: white;
}

.github-box {
  display: flex;
  justify-content: center;
}
.github-box a {
  padding: 1rem;
  color: brown;
}
.submit-btn {
  padding: 0.5rem;
}

textarea {
  margin-bottom: 1rem;
}

.login-box {
  border: 1px solid #d9d9d9;
  width: 550px;
  border-radius: 10px;
  margin: 2rem auto;
  background-color: white;
}
.dashboard-box {
  display: flex;
  justify-content: center;
}
.dashboard-box a {
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: rgb(121, 87, 44);
  border-radius: 10px;
  color: white;
}

table {
  margin: 1rem auto;
}
table a {
  color: blueviolet;
}

tr {
  text-align: left;
  border-bottom: 1px solid black;
}
td {
  padding: 0.8rem 0.5rem;
  width: 150px;
}
th {
  padding: 0.8rem 0.5rem;
  /* background-color: rgb(255, 127, 80); */
  background-color: rgb(122, 121, 121);
  color: white;
}
